body {
	margin: 0px;
	padding: 0px;
}


/* ------------------------------------- Center Block File ---------------------------------------*/
.outerBox {
	width: 300px;
	height: 300px;
	background-color: #000;
	border-radius: 10px;
	margin: 0 auto;
	/*position: absolute;*/
	position: relative;
}


.innerPara {
	font: 40px/125px Helvetica, sans-serif;
	left: 32%;
	text-align: center;
	position: absolute;
	position: relative;
}


.innerDiv {
	width: 100px;
	height: 100px;
	left: 40%;
	top: 40%;
	position: absolute;
	border-radius: 10px;
	background-color: #000;
}

/*
-) bg-position: Syntax(array[i] [j]), i.e whear i = 'left', 'center, 'right' and j = 'top', 'center', 'right'.
-) Also make sure to add the image using 'backgorund-image' css property not html 'img' tag.
-) for e.g, background-position: center center; 
*/
.innerImg {
	width: 98px;
	height: 98px;
	background-image: url("../img/img-1.jpg");
	background-position: center center; 
}

/* -------------------------------------  Keyframe File ---------------------------------------*/

div-tmp {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background-color: red;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

.red-box {
	width: 150px;
	height: 150px;
	margin: 10px auto;
	border-radius: 0px;
	background-color: #b3b3b3;
	-webkit-animation-name: sinner;
	/*-webkit-animation-delay: 1s;*/
	animation-name: sinner;
	/*animation-delay: 1s;*/
}


/*
@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
*/


@-webkit-keyframes sinner {
	from {background-color: red;}	
	to {background-color: yellow;}
}


/*
@keyframes example {
  from {
  	background-color: red;
  }
  to {
  	background-color: yellow;
  }
}
*/

@keyframes sinner {
	0% {
		background-color: #85929E;
		border-radius: 50px 50px;
	}

	25% {
		background-color: #34495E;
		border-radius: 50px 50px;
	}
	50% {
		background-color: #283747;
		border-radius: 100px 100px;
	}
	75% {
		background-color: #212F3C;
		border-radius: 150px 150px;	
	}
	100% {
		background-color: #1B2631;
		border-radius: 200 200px;
	}
}

/* -------------------------------------  Slider ---------------------------------------*/
.slider {
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 50px;
	border: 2px solid orange;
	border-radius: 100px;
	margin: 300px auto;
	box-sizing: border-box;
}

.circle {
	width: 45px;
	height: 45px;
	opacity: 0.2;
	border-radius: 50%;
	position: absolute;
	margin: 1px 1px 1px 1px;
	background-color: aqua;

	animation-name: slider;
	/*animation-delay:*/
}


@keyframes slider {
	from {
		opacity: 0.2;
		position: absolute;
		left: 45px;
	}
	to {
		opacity: 0.9;
		position: absolute;
		left: 250px
	}

	/*0% {
		opacity: 0.4;
		left: 45px;
	}
	10% {
		opacity: 0.7;
		left: 100px;
	}
	90% {
		opacity: 1;
		left: 220px;
	}
	100% {
		opacity: 0.3;
		left: 250px;
	}*/
}


/* --------------------------------------Car and the City ------------------------------------------*/
.city {
	position: relative;
	background: url(../img/city.jpg);
	background-repeat: repeat-x;
	background-position: 0 0;
	background-size: cover;
}

/* --------------------------------- Transition file ------------------------------------- */
.alpha-box {
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 200px auto;
	position: relative;
	border-radius: 50%;
	transition: width 1.8s, 
				height 1.8s, 
				/*border-radius 1.5s,*/
				font-size 1s,
				transform 1.8s;
}

.alpha-box:hover {
	/*width: 150px;*/
	/*height: 150px;*/

	font-size: 50px;

	/*border-radius: 50%;*/

	/*transform: translateX(270px);*/
	/*transform: translateY(150px);*/
	transform: translateZ(100px);

	/*transform: skewX(-40deg);*/
	/*transform: skewY(20deg);*/

	transform: rotate(360deg);
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
	position: absolute;
	font-size: 16px;
	margin: 2px;
	font-weight: bolder;
}

.top-left {
	top: 0px;
	left: 0px;
}

.top-right {
	right: 0px;
}

.bottom-left {
	bottom: 0px;
	left: 0px;
}

.bottom-right {
	bottom: 0px;
	right: 0px;
}


.beta-box {
	width: 300px;
	height: 300px;
	margin: 150px auto;
	background-color: #bebebe;
	transform: rotateY(-90deg) translateX(-200px);
	transform-origin: left;
}
/* ------------- Prespective -------*/
